<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <style >
     #image{
       border-style: dashed;
       border-color: red
     }

    </style>
  </head>
  <body>
  <%if @name %> 
  <h1>Hello, my name is 
  <%= @name %>
  </h1>
  <% end %> 

  <img id="image" src="http://bit.ly/1eze8aE">
  <form action="/named-cat"><input type="text" name="name"><input type="submit" value="Submit"></form>
  </body>
</html>

